<div>
    <button name="gerar-sorteio" (click)="inserirSorteio()" type="submit" id="gerar-sorteio">
      Gerar Sorteio
    </button>
  <h1>Dezenas Sorteadas:</h1><label>{{sorteio.Dezenas}}</label>
  <br />
  <h1>Apostas Vencedoras:</h1>
  <table>
      <thead>
        <tr>
          <th>Nº Aposta</th>
          <th>Acertos</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let aposta of sorteio.Apostas">
              <td>{{aposta.Id}}</td>
              <td>{{aposta.TipoContemplacao}}</td>
          </tr>
      </tbody>
    </table>
  </div>  