<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<title>Loteria</title>
<div class="home">
    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <h1>Loteria</h1>
                <sorteio-container>
                </sorteio-container>                
            </div>
        </div>
        <div class="container">
            <aposta-container>
            </aposta-container>
        </div>
    </main>
</div>
