
<div>
  <input type="number" min="1" max="60" [(ngModel)]="dezenas[0]" />
  <input type="number" min="1" max="60" [(ngModel)]="dezenas[1]" />
  <input type="number" min="1" max="60" [(ngModel)]="dezenas[2]" />
  <input type="number" min="1" max="60" [(ngModel)]="dezenas[3]" />
  <input type="number" min="1" max="60" [(ngModel)]="dezenas[4]" />
  <input type="number" min="1" max="60" [(ngModel)]="dezenas[5]" />
  
</div>
<div>
  <button name="gerar-aposta" (click)="inserirAposta()" type="submit" id="gerar-aposta">
    Inserir Aposta
  </button>
  <button name="gerar-dezenas" (click)="gerarDezenas()" type="submit" id="gerar-dezenas">Gerar Dezenas</button>
  
</div>
<br/>
<div>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Dezenas</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let aposta of apostas">
            <td>{{aposta.Id}}</td>
            <td>{{aposta.Dezenas}}</td>
            <td>{{aposta.DataAposta | date:"dd/MM/yyyy hh:mm"}}</td>
        </tr>
    </tbody>
  </table>
</div>